aside {
  position: absolute;
  top:100px;
  width: 100%;
  height: 80%;
  right: -100%;

  background-color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &.toggled {
    right: -20%;
  }
}
