@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

/* Styles */
body {
  font-family: 'Avenir Next' ,'Nunito Sans', sans-serif;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h2 {
  font-size: 17px;
  font-weight: bold;
}
