@import 'variables.scss';

#detailDisplay {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;

  header {
    background-color: $dark-green;
    color: white;
    padding: 1em;
    height: 100px;
    h2,h4 {
      margin: 0;
    }
    h2 {
      font-size: 1.6em;
    }
    h4{
      margin-top: 6px;
    }

  }

  .content {
    font-weight: 300;
    color: #2A2A2A;

    h4 {margin-bottom: 2vh;}
  }
}

#map {
  height: 50%;
}
